*~
*#*
build/esp32.esp32.esp32s2/V2-Actimetre.ino.bin
build/esp32.esp32.esp32s2/V2-Actimetre.ino.bin
build/esp32.esp32.esp32s2/V2-Actimetre.ino.bootloader.bin
build/esp32.esp32.esp32s2/V2-Actimetre.ino.partitions.bin
build/esp32.esp32.esp32s2/V2-Actimetre.ino.bin
build/esp32.esp32.esp32s2/V2-Actimetre.ino.bootloader.bin
build/esp32.esp32.esp32s2/V2-Actimetre.ino.partitions.bin
*.bin
